<section class="sophia-categories" id="categories">
  <a href="#" class="sophia-category sophia-reveal">
    <img src="assets/images/1.jpg" alt="SOPHIA-G Signature Fans">
    <span>Signature Fans</span>
  </a>

  <a href="#" class="sophia-category sophia-reveal">
    <img src="assets/images/img-2.jpg" alt="SOPHIA-G Evening Edit">
    <span>Evening Edit</span>
  </a>

  <a href="#" class="sophia-category sophia-reveal">
    <img src="assets/images/img3.jpg" alt="SOPHIA-G Occasion Pieces">
    <span>Occasion Pieces</span>
  </a>

  <a href="#" class="sophia-category sophia-reveal">
    <img src="assets/images/img4.jpg" alt="SOPHIA-G Limited Collection">
    <span>Limited Collection</span>
  </a>
</section>
